.projectsPageContainer {
  height: 100vh;
  width: 100vw;
  background-color: #ff6a3d;
}

.projectsHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: #282c34;
  color: #f4eae3;
}

.row {
  width: 100vw;
  height: 40%;
  position: relative;
  margin-top: 0px;
}

.column {
  float: left;
  width: 33.33%;
  background-color: #282c34;
  cursor: pointer;
}

.project1 {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project1:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project2 {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project2:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../egLogo.png) no-repeat;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.project3 {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project3:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../excellentStoreLogo.png) no-repeat;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project4 {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project4:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../originalPortfolio.png) no-repeat;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project5 {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project5:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../cLanguagePic.png) no-repeat;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project6 {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project6:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../hauntedHousePic.png) no-repeat;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.projectTitles {
  width: 75%;
  font-size: 2.4em;
  font-weight: 800;
  color: #f4eae3;
  opacity: 0.6;
  transition: all 0.2s linear;
}

.projectTitlesHovering {
  width: 75%;
  font-size: 2.4em ;
  font-weight: 800 ;
  color: #f4eae3;
  opacity: 1.0;
  transition: all 0.2s linear;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: url(../../websiteProjectPic.png) no-repeat;
  background-position: center center;
  filter: brightness(40%) blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
