.contactPageContainer {
    height: 125vh;
    width: 100vw;
    background-color: #282C34;
}

.contactHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color:#F4EAE3;
    color: #282C34;
}

.containerTabsContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceTabsShell {
    width: 90vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-vj4oqr {
    background-color: #F4EAE3 !important;
}

.css-lfwcke-MuiTabs-flexContainer {
    color: black !important;
}

.css-8je8zh-MuiTouchRipple-root {
    background-color: transparent !important;
}

.css-lfwcke-MuiTabs-flexContainer {
    background-color: transparent !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #282C34 !important;
    font-size: 25px !important;
}

.css-10d9dml-MuiTabs-indicator {
    background-color: #FF6A3D !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 20px !important;
    max-width: 35vw !important;
    min-width: 35vw !important;
    padding: 50px 50px !important;
}

.css-1cgx7kx-MuiTabs-scroller {
    width: 20vw !important;
}

.css-35zqo5-MuiTabs-root {
    height: 80vh !important;
}

.css-8je8zh-MuiTouchRipple-root {
    display: none !important;
}

.css-19kzrtu {
    height: 60vh !important;
    max-width: 65vw;
}