.navbarContainer {
    height: 8vh;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    user-select: none;
    z-index: 90;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); */
}

.colorBackgroundNavbarFadeIn {
  animation: backgroundColorFade 0.5s forwards;
  backdrop-filter: blur(6px);
}

.colorBackgroundNavbarFadeOut {
  animation: backgroundColorFadeOut 0.5s forwards;
  backdrop-filter: blur(6px);
}

@keyframes backgroundColorFadeOut {

from {
  background-color: rgba(244, 234, 227, 1);
}to {
  background-color: transparent;
}
}

@keyframes backgroundColorFade {

  from {
    background-color: transparent;
  }to {
    background-color: rgba(244, 234, 227, 1);
  }

}

.nameLeft {
    text-decoration: none;
    color: #282c34;
    margin-left: 7rem;
    backdrop-filter: blur(6px);
  }
  .namesRight {
    font-weight: 500;
    margin-left: auto;
    margin-right: 7rem;
    color: #282c34;
    margin-top: 6px;
    backdrop-filter: blur(6px);
  }

  .namesRight ul {
    display: flex;
    backdrop-filter: blur(6px);
    background-color: transparent;
  }
  .namesRight li {
    list-style-type: none;
    margin: 0 1rem;
    background-color: transparent;
  }
  .namesRight li a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(6px);
  }